<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <h1>Website stay under maintenance</h1>
    <p>We stay working hahd, try wait ah</p>
  </body>
</html>
